# build output
dist/
# generated types
.astro/
# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# editor
.idea/
.vscode/

# temp
wall_size.mjs
make_grid.mjs
gen_wall.mjs
